<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Restaurant Management System</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Icon Font Stylesheet -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
	rel="stylesheet">

 <!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
  	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        book-a-table {
            background-color: #FAFAFA;
            padding: 50px 0px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin: 50px 0px;
            float: left;
            width: 100%;
        }
        book-a-table p {
            color: #9a9a9a;
        }
        book-a-table textarea {
            min-height: 200px;
            max-width: 100%;
        }
    </style>
</head>
<body>
	<div class=""
		style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNSLYjAnnvd8223t4uLF4_KWDB-v4ax6RktQ&usqp=CAU'); height: auto;">
		<div class="container-xxl position-relative p-0">
			<nav
				class="navbar navbar-expand-lg navbar-dark  px-4 px-lg-5 py-3 py-lg-0">
				<a th:href="@{/index}" class="navbar-brand p-0"> <i
					class="fa fa-utensils me-3"></i> Divz Delights
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse"></div>

				<div class="navbar-nav ms-auto py-0 pe-4">
					<a th:href="@{/index}" class="nav-item nav-link active">Home</a> <a
						th:href="@{/menu}" class="nav-item nav-link active">Menu's</a> <a
						th:href="@{/about}" class="nav-item nav-link active">About</a> <a
						th:href="@{/gallery}" class="nav-item nav-link active">Our-Gallery</a>
					<a th:href="@{/events}" class="nav-item nav-link active">Events</a>
					<a th:href="@{/contact}" class="nav-item nav-link active">Contact-Us</a>
					<a th:href="@{/Cust/New}" class="nav-item nav-link active">New
						Registration</a> <a th:href="@{/SignInPage}" class="nav-item nav-link">Signin</a>
				</div>
			</nav>
		</div>
		</div>
		<div class="container my-2 py-3">
		<section id="book-a-table" class="book-a-table" th:attr="data-aos='fade-up'">
        <div class="container" >
            <div class="row">
    			<div class="col-md-8 offset-md-2 text-center">
    				<h2 class="text-primary" th:text="@{}">Book A Table</h2>
    				<p class="mb-5" th:text="@{}">Bootstrap table reservation form template design is created by using bootstrap where users can book online restaurant tables, food orders according to yourself.</p>
    			</div>
    		</div>

            <form action="/booktable/save" method="post" role="form" th:action="@{/booktable/save}" th:object="${reservation}">
    <div class="form-row">
        <div class="col-lg-4 col-md-6 form-group">
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Your Name">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
            <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Your Email">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
            <input type="number" th:field="*{phone}" class="form-control" id="phone" placeholder="Your Phone">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
            <input type="date" th:field="*{date}" class="form-control" id="date" placeholder="Date">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
            <input type="time" th:field="*{time}" class="form-control" id="time" placeholder="Time">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
            <input type="number" th:field="*{numberOfPeople}" class="form-control" id="people" placeholder="No. of people">
        </div>
    </div>
    <div class="form-group">
        <textarea th:field="*{message}" class="form-control" placeholder="Message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary float-right mt-3">Book a Table</button>
</form>

        </div>
    </section>
		
	<!-- Bootstrap Footer -->
	<div><br></div>
	<footer class="bg-dark text-white text-center py-3">
		<p>&copy; 2024 Divz Delights</p>
		<!-- Facebook -->
		<a class="btn text-white" data-mdb-ripple-init
			style="background-color: #3b5998;" href="#!" role="button"> <i
			class="fab fa-facebook-f"></i>
		</a>

		<!-- Twitter -->
		<a class="btn text-white" data-mdb-ripple-init
			style="background-color: #55acee;" href="#!" role="button"> <i
			class="fab fa-twitter"></i>
		</a>

		<!-- Instagram -->
		<a class="btn text-white" data-mdb-ripple-init
			style="background-color: #ac2bac;" href="#!" role="button"> <i
			class="fab fa-instagram"></i>
		</a>

		<!-- Whatsapp -->
		<a class="btn text-white" data-mdb-ripple-init
			style="background-color: #25d366;" href="#!" role="button"> <i
			class="fab fa-whatsapp"></i>
		</a>
	</footer>
	</div>
	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
